@inherits LayoutComponentBase

<main>
    <div class="vh-100 d-flex justify-content-center bg-dark">
        <div class="container align-self-center">
            @Body
        </div>
    </div>
</main>
