@inherits LayoutComponentBase

<PageTitle>Lazuli</PageTitle>

<div class="page">
    <div class="d-flex justify-content-center bg-dark">
        <div class="container text-white p-0 m-0 min-vh-100">
            @*top row*@
            <div class="p-3 m-0">
                search + profile circle button with first letter of boundtouserid name that opens up a menu with typical links on click
            </div>

            @Body
        </div>
    </div>
</div>

