@page "/admin"
@layout AdminLayout

<h3>Admin Menu</h3>

<br />

<div>
    <h4>Endpoints</h4>

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/endpoints/album" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Album
            </NavLink>
        </div>
    </nav>

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/endpoints/comment" Match="NavLinkMatch.All">
                <span class="oi oi-comment-square" aria-hidden="true"></span> Comment
            </NavLink>
        </div>
    </nav>

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/endpoints/photo" Match="NavLinkMatch.All">
                <span class="oi oi-image" aria-hidden="true"></span> Photo
            </NavLink>
        </div>
    </nav>

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/endpoints/Post" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Post
            </NavLink>
        </div>
    </nav>

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/endpoints/user" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> User
            </NavLink>
        </div>
    </nav>
</div>

@code {

}
