<div>
	<button class="btn btn-outline-light col-3 mt-1" type="button" @onclick="Collapse">		
		@if (_collapse)
		{
			<span>Filter options <span class="oi oi-caret-bottom ms-1"></span></span>
		}
		else
		{
			<span>Filter options <span class="oi oi-caret-top ms-1"></span></span>
		}
	</button>

	@if (_collapse == false)
	{
		@*TODO add an edit form*@
		<div class="m-3 bg-light rounded bg-opacity-75 p-sm-2">
			<div class="mb-3 input-group">
				<label for="phraseInput"><span class="input-group-text">Phrase in post</span></label>
				<input class="form-control ms-2" id="phraseInput">
			</div>
			<div class="input-group">
				<label for="characterCountInput"><span class="input-group-text">Character Count</span></label>
				<label for="characterCountInput"><span class="input-group-text">from</span></label>
				<input class="form-control mx-2" id="characterCountInput">
				<label for="characterUpperLimit"><span class="input-group-text">to</span></label>
				<input class="form-control ms-2" id="characterUpperLimit">
			</div>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
				<button type="submit" class="btn btn-primary">Filter</button>
			</div>
		</div>
	}

</div>

@code {
	private bool _collapse = true;

	private void Collapse()
	{
		_collapse ^= true;
	}
}
