
@if (Post is not null)
{
	<div class="d-grid gap-2">
		<div>
			<a href="">
				<label class="fw-bold">@@@Post.Username</label>
			</a>
		</div>
		<div class="fs-5">
			<label class="fst-italic">@Post.Title</label>
		</div>
		<div class="border border-1 rounded rounded-5 p-sm-2 shadow-sm">
			<label>@Post.Body</label>
		</div>
		<div>
			<button class="btn btn-primary">
				<span class="oi oi-comment-square me-1"></span>
				<span>@Post.Comments?.Count</span>
			</button>
		</div>
	</div>
}

@code {
	[Parameter]
	public PostViewModel? Post { get; set; } = null;

}
