@inject NavigationManager NavigationManager

@if (Post is not null)
{
	<div class="d-grid gap-2">
		<div>
			<a href="" @onclick="NavToProfile"  @onclick:preventDefault>
				<label class="fw-bold">@@@Post.Username</label>
			</a>
		</div>
		<div class="fs-5">
			<label class="fst-italic">@Post.Title</label>
		</div>
		<div class="p-sm-2">
			<label>@Post.Body</label>
		</div>
		<div>
			<button type="button" class="btn btn-dark position-relative">
				<span class="oi oi-comment-square me-1"></span>
				<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
					@Post.Comments?.Count
				</span>
			</button>
		</div>
	</div>
}

@code {
	[Parameter]
	public PostViewModel? Post { get; set; }

	public void NavToProfile()
	{
		NavigationManager.NavigateTo($"/user/{Post!.UserId}");
	}
}
