@page "/admin/endpoints/user"
@inject IUserEndpoint userEndpoint

<h3>User</h3>

<br />

<div>
	<h4>All users</h4>
	<button class="btn btn-primary" @onclick="GetAllUsers">Show All Users</button>
	@if (_users is not null)
	{
		<ListComponent Models="@_users" ModelType="@typeof(UserModel)" />
	}
</div>

<br />

<div>
	<h4>Filter Users by id</h4>
	<div class="col-2">
		<FilterComponent OnIdFilter="GetUser"/>
	</div>

	@if (_filteredUsers is not null)
	{
		@if (_filteredUsers.Count > 0)
		{
			<ListComponent Models="@_filteredUsers" ModelType="@typeof(UserModel)" />
		}
		else
		{
			<p class="text-danger">No matching result found</p>
		}
	}
</div>



@code {
	private List<object>? _users;
	private List<object>? _filteredUsers;

	private async Task GetAllUsers()
	{
		_users = (_users is null) ? (await userEndpoint.GetAll()).ToList<object>() : null;
	}

	private async Task GetUser(int id)
	{
		_filteredUsers = (await userEndpoint.GetByUserId(id)).ToList<object>();
	}
}
