@page "/admin/endpoints/user"
@inject IUserEndpoint userEndpoint

<h3>User</h3>
<GenericComponent Models="@_users" ModelType="@typeof(UserModel)"/>

@code {
	private List<object>? _users;

	protected async override Task OnInitializedAsync()
	{

		//get all users
		_users = (await userEndpoint.GetAll()).ToList<object>();

		// todo get user by id on button click

	}
}
