@page "/admin/endpoints/user"
@layout AdminLayout

@inject IUserEndpoint UserEndpoint

<h3>User</h3>

<br/>

<div>
	<h4>All users</h4>
	<button class="btn btn-primary" @onclick="GetAllUsers">Show All Users</button>
	@if (_users is not null)
	{
		<ListComponent Models="@_users" ModelType="@typeof(UserModel)"/>
	}
</div>

<br/>

<div>
	<h4>Filter Users by id</h4>
	<div class="col-2">
		<FilterComponent OnIdFilter="GetUser"/>
	</div>

	@if (_user is not null)
	{
		<ListComponent Models="@(new List<object> {_user})" ModelType="@typeof(UserModel)"/>
	}
	else if (_searched)
	{
		<p class="text-danger">No matching result found</p>
	}

</div>


@code {
	private List<object>? _users;
	private object? _user;

	private bool _searched;

	private async Task GetAllUsers()
	{
		_users = _users is null ? (await UserEndpoint.GetAll()).ToList<object>() : null;
	}

	private async Task GetUser(int id)
	{
		_user = await UserEndpoint.GetByUserId(id);
		_searched = true;
	}

}